<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/a-accounts.css">
    <title>PLM Study Plan Checker</title>
    <script>
        
    </script>
</head>
<body onload="search('searchFaculty', '.person .right h3', 2)">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Faculty Accounts</h1>
        <div class="top-field">
            <div class="topContainer">
                <div class="searchContainer item1">
                    <img src="/img/search.svg" alt="Searc Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchFaculty" class="searchContent" placeholder="Search for a faculty member">
                </div>
                <div class="filterCollegeContainer item2">
                    <h5>College:</h5>
                    <div class="resultsContainer">
                        <input type="text" onfocusout="focusOutClose('filterColleges', false)" onfocus="openPopup('filterColleges', true)" class="formSelectContent" id="filterCollege" style="z-index: 2;" value="<% if (data) {%> <%= data %> <% } else { %> <%= 'All' %> <% } %>" readonly required>
                        <div class="results hidden" id="filterColleges" style="z-index: 1;">
                            <div class="scrollable">
                                <p class="option" onclick="redirectTo('/dashboard/accounts')">All</p> 
                                <% for (let college of colleges) { %>
                                    <p class="option" onclick="submitData('<%= college.abbreviation %>', '/dashboard/accounts')" title="<%= college.name %>"><%= college.abbreviation %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addButton clickable item3" onclick="openPopup('createAccount')">
                    <img src="/img/plus.svg" alt="Plus Icon" class="icon addIcon">
                    <h5>New Faculty Account</h5>
                </div>
            </div>
        </div>

        <div class="peopleContainer" id="peopleContainer">
            <% for (let person of people) { %>
                <% var personInitials = person.firstName.substring(0,1) + person.lastName.substring(0,1); %>
                <div class="person clickable" onclick="submitData('<%= person.username %>', '/dashboard/accounts/view')">
                        <div class="profilePicWide" data-initials-view-wide='<%= personInitials %>'></div>
                    <div class="right">
                        <h3><%= person.facultyPrefix ? person.facultyPrefix + '. ' : '' %><%= person.firstName %> <%= person.middleInitial ? person.middleInitial + '. ' : '' %><%= person.lastName %><%= person.suffix ? ', ' + person.suffix : '' %></h3>
                        <p><%= person.facultyPosition %> - <%= person.facultyDepartment.name %></p>
                        <p><%= person.facultyCollege.name %></p>
                        <p><%= person.username %></p>
                    </div>
                </div>
                <% } %>
        </div>

        <div class="overlay hidden" id="overlayDiv"></div>
            
        <div class="popupLarge hidden" id="createAccount">
            <h1>Create a faculty account</h1>

            <form action="/dashboard/accounts/add" method="post" id="facultyForm" onsubmit="closePopup('preview', false); openPopup('confirmation')">
                <div class="formContent">
                    <div class="formTextContainer">
                        <p>College</p>
                        <div class="resultsContainer">
                            <input type="text" onfocusout="focusOutClose('collegesContainer', false)" onfocus="openPopup('collegesContainer')" class="formSelectContent" name="facultyCollege" id="facultyCollege" style="z-index: 14;" readonly required>
                            <div class="results hidden" id="collegesContainer" style="z-index: 13;">
                                <div class="scrollable">
                                    <% for (let college of colleges) { %>
                                    <p class="option" onclick="setInputValue('facultyCollege', '<%= college.abbreviation %> - <%= college.name %>'); filterDegrees(event);" id="<%= college._id %>"><%= college.abbreviation %> - <%= college.name %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="formTextContainer hidden" id="degreesInput">
                        <p>Department</p>
                        <div class="resultsContainer">
                            <input type="text" onfocusout="focusOutClose('degreeContainer', false)" onfocus="openPopup('degreeContainer')" class="formSelectContent" name="facultyDepartment" id="facultyDepartment" style="z-index: 12;" readonly required>
                            <div class="results hidden" id="degreeContainer" style="z-index: 11;">
                                <div class="scrollable">
                                    <% for (let degree of degrees) { %>
                                    <p class="option degreeOption hidden" id="deg<%= degree.college._id %>" onclick="setInputValue('facultyDepartment', '<%= degree.abbreviation %> - <%= degree.name %>')"><%= degree.abbreviation %> - <%= degree.name %></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="formTextContainer">
                        <p>Position</p>
                        <div class="resultsContainer">
                            <input type="text" onfocusout="focusOutClose('positions', false)" onfocus="openPopup('positions')" class="formSelectContent" name="facultyPosition" id="facultyPosition" style="z-index: 10;" readonly required>
                            <div class="results hidden" id="positions" style="z-index: 9;">
                                <div class="scrollable">
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Instructor');">Instructor</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Assistant Professor');">Assistant Professor</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Associate Professor');">Associate Professor</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Professor');">Professor</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Assistant Professional Lecturer');">Assistant Professional Lecturer</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Professional Lecturer');">Professional Lecturer</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Chairperson');">Chairperson</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Dean');">Dean</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Director');">Director</p>
                                    <p class="option" onclick="setInputValue('facultyPosition', 'Staff');">Staff</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row2">
                        <div class="formTextContainer item1">
                            <p>First Name</p>
                            <input type="text" name="firstName" id="firstName" class="formTextContent" required>
                        </div>
                        <div class="formTextContainer item2">
                            <p>Surname</p>
                            <input type="text" name="lastName" id="lastName" class="formTextContent" required>
                        </div>
                        <div class="formTextContainer item3">
                            <p>M.I</p>
                            <input type="text" name="middleInitial" id="middleInitial" class="formTextContent" maxlength="1">
                        </div>
                    </div>

                    <div class="row3">
                        <div class="formTextContainer item1">
                            <p>Prefix</p>
                            <input type="text" name="facultyPrefix" id="facultyPrefix" class="formTextContent">
                        </div>
                        <div class="formTextContainer item2">
                            <p>Suffix</p>
                            <input type="text" name="suffix" id="suffix" class="formTextContent">
                        </div>
                        <div class="formTextContainer item3">
                            <p>Username</p>
                            <input type="text" name="username" id="username" class="formTextContent" required>
                        </div>
                    </div>

                    <input type="hidden" name="password" id="password">
                </div>

                <div class="buttonRow">
                    <button type="button" class="buttonWhite clickable" onclick="closePopup('createAccount')">Cancel</button>
                    <button type="button" class="buttonRed clickable" onclick=" validateForm();">Done</button>
                </div>
            </form>
        </div>

        <div class="popupLarge hidden" id="preview">
            <div class="leftContainer">
                <h3>Account Preview</h3>
                <h1><span id="sprefix"></span><span id="sfirstName"></span> <span id="smiddleInitial"></span> <span id="slastName"></span><span id="ssuffix"></span></h1>
                <h3><span id="sposition"></span> - <span id="sdepartment"></span></h3>
                <h3><span id="scollege"></span></h3>
                <h3><span id="susername"></span></h3>
            </div>
            <div class="rightContainer">

            </div>

            <div class="buttonRow">
                <button type="button" class="buttonWhite clickable" onclick="closePopup('preview')">Cancel</button>
                <button type="submit" class="buttonRed clickable" form="facultyForm">Create Account</button>
            </div>
        </div>

        <div class="popupSmall hidden" id="confirmation">
            <h1>Faculty Account Created!
                <p>Here are the faculty's login credentials</p>
            </h1>
            
            <div class="row4">
                <div class="item1">
                    <p>Username:</p>
                    <input class="formTextContent" id="confirmUsername" readonly>
                    <img src="/img/copy_red.svg" alt="Copy Icon" class="copyIcon" onclick="copyToClipboard(document.getElementById('confirmUsername').value)">
                </div>
                <div class="item2">
                    <p>Password:</p>
                    <input class="formTextContent" id="confirmPassword" readonly>
                    <img src="/img/copy_red.svg" alt="Copy Icon" class="copyIcon" onclick="copyToClipboard(document.getElementById('confirmPassword').value)">
                </div>
            </div>

            <div class="buttonRow">
                <button type="button" class="buttonWhite clickable" onclick="redirectTo('/dashboard/accounts')">
                    <img src="/img/done.svg" alt="Done Icon" class="buttonIcon">
                    Done
                </button>
                <button type="button" class="buttonRed clickable" onclick="copyBoth()">
                    <img src="/img/copy_white.svg" alt="Copy Icon" class="buttonIcon">
                    Copy Both
                </button>
            </div>
        </div>
    </main>

    <script src="/js/functionLibrary.js"></script>
    <script src="/js/a-accounts.js"></script>
</body>
</html>