<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/a-calendar.css">
    <title>PLM Study Plan Checker</title>
</head>
<body onload="search('', '.bottomContainer .wideDiv h2', 1)">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>College</h1>
        <div class="container">
            <div class="topContainer">
                <div class="searchContainer">
                    <img src="/img/search.svg" alt="Searc Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchCollege" class="searchContent" placeholder="Search for a year">
                </div>
                <div class="addButton clickable" onclick="openPopup('popup1')">
                    <img src="/img/plus.svg" alt="Plus Icon" class="icon addIcon">
                    <h5>New School Year</h5>
                </div>
            </div>
            <div class="bottomContainer">
                <% calendar.forEach(function(calendar){ %>
                    <div class="wideDiv clickable" onclick="window.location.href='/dashboard/calendar/<%= calendar.yearStart %>'">
                        <h2>A.Y. <%= calendar.yearStart %>-<%= calendar.yearStart + 1 %></h2>
                        <p>1st Semester Enrollment Date: <%= calendar.sem1 %></p>
                        <p>2nd Semester Enrollment Date: <%= calendar.sem2 %></p>
                        <p>Summer Enrollment Date: <%= calendar.summer %></p>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="overlay hidden" id="overlayDiv"></div>

        <div class="popupMedium hidden" id="popup1">
            <h1>Create a School Year</h1>
            <form action="/dashboard/calendar/add" method="post">
                    <div class="row1">
                        <div class="formTextContainer item1">
                            <p>Star Year</p>
                            <input type="number" id="yearStart" name="yearStart" min="1900" max="2100"  class="formTextContent" required>
                        </div>
                        <div class="formTextContainer item3">
                            <p>1st Semester Enrollment Date</p>
                            <input type="date" id="sem1" name="sem1" class="formTextContent" required>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="formTextContainer item1">
                            <p>2nd Semester Enrollment Date</p>
                            <input type="date" id="sem2" name="sem2" class="formTextContent" required>
                        </div>
                        <div class="formTextContainer item2">
                            <p>Summer Enrollment Date</p>
                            <input type="date" id="summer" name="summer" class="formTextContent" required>
                        </div>
                    </div>
                    <div class="rowLast">
                        <button type="button" class="buttonWhite clickable" onclick="closePopup('popup1')">Cancel</button>
                        <button type="submit" class="buttonRed clickable">Done</button>
                    </div>
            </form>
        </div>

    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>