<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/a-calendar.css">
    <title>PLM Study Plan Checker</title>
</head>
<body onload="search('', '.bottomContainer .wideDiv h2', 1)">
    <!--HEADER-->
    <%- include ('header.ejs') %>
    <!--CONTENT-->
    <main>
        <h1>Calendar</h1>
        <div class="container">
            <div class="topContainer">
                <div class="searchContainer">
                    <img src="/img/search.svg" alt="Searc Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchCollege" class="searchContent" placeholder="Search for a year">
                </div>
                <div class="addButton clickable" onclick="openPopup('popup1')">
                    <img src="/img/plus.svg" alt="Plus Icon" class="icon addIcon">
                    <h5>New School Year</h5>
                </div>
            </div>
            <div class="bottomContainer">
                <% calendar.forEach(function(calendar){ %>
                    <div class="wideDiv clickable" onclick="submitData('<%= calendar.yearStart %>', '/dashboard/calendar/view')">
                        <h2>A.Y. <%= calendar.yearStart %>-<%= calendar.yearStart + 1 %></h2>
                        <p>1st Semester: <%= calendar.sem1Start %> - <%= calendar.sem1End %></p>
                        <p>2nd Semester: <%= calendar.sem2End %> - <%= calendar.sem2End %></p>
                        <p>Summer: <%= calendar.summerStart %> - <%= calendar.summerEnd %></p>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="overlay" id="overlayDiv"></div>

        <div class="popupMedium" id="popup2">
            <h1>A.Y. <%= calendarView.yearStart %>-<%= calendarView.yearStart + 1 %></h1>

            <div>
                <h2>1st Semester: <%= calendarView.sem1Start %> - <%= calendarView.sem1End %></h2>
                <h2>2nd Semester: <%= calendarView.sem2End %> - <%= calendarView.sem2End %></h2>
                <h2>Summer: <%= calendarView.summerStart %> - <%= calendarView.summerEnd %></h2>
            </div>

            <div class="rowLast">
                <button class="buttonWhite clickable" onclick="closePopup('popup2', false); openPopup('popup3')">
                    <img src="/img/edit.svg" alt="Edit Icon" class="buttonIcon">
                    Edit
                </button>
                <form action="/dashboard/calendar/delete" method="post">
                    <input type="hidden" name="yearStart" value="<%= calendarView.yearStart %>">
                    <button type="submit" class="buttonWhite clickable">
                        <img src="/img/delete.svg" alt="Delete Icon" class="buttonIcon">
                        Delete
                    </button>
                </form>
                <button class="buttonRed clickable" onclick="redirectTo('/dashboard/calendar')">
                    <img src="/img/back.svg" alt="Back Icon" class="buttonIcon">
                    Back
                </button>
            </div>
        </div>

        <div class="popupMedium hidden" id="popup3">
            <h1>Edit School Year</h1>
            <form action="/dashboard/calendar/edit" method="post">
                    <input type="hidden" name="oldYearStart" value="<%= calendarView.yearStart %>">
                    <div class="row1">
                        <div class="formTextContainer item1">
                            <p>Start Year</p>
                            <input type="number" id="yearStart" name="yearStart" min="1900" max="2100"  class="formTextContent" value="<%= calendarView.yearStart %>" required>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="formTextContainer item1">
                            <p>1st Semester Opening Date</p>
                            <input type="date" id="sem1Start" name="sem1Start" class="formTextContent" value="<%= calendarView.sem1StartInput %>" required>
                        </div>
                        <div class="formTextContainer item2">
                            <p>1st Semester Closing Date</p>
                            <input type="date" id="sem1End" name="sem1End" class="formTextContent" value="<%= calendarView.sem1EndInput %>" required>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="formTextContainer item1">
                            <p>1st Semester Opening Date</p>
                            <input type="date" id="sem2Start" name="sem2Start" class="formTextContent" value="<%= calendarView.sem2StartInput %>" required>
                        </div>
                        <div class="formTextContainer item2">
                            <p>2nd Semester Closing Date</p>
                            <input type="date" id="sem2End" name="sem2End" class="formTextContent" value="<%= calendarView.sem2EndInput %>" required>
                        </div>
                    </div>
                    <div class="row4">
                        <div class="formTextContainer item1">
                            <p>Summer Opening Date</p>
                            <input type="date" id="summerStart" name="summerStart" class="formTextContent" value="<%= calendarView.summerStartInput %>" required>
                        </div>
                        <div class="formTextContainer item2">
                            <p>Summer Closing Date</p>
                            <input type="date" id="summerEnd" name="summerEnd" class="formTextContent" value="<%= calendarView.summerEndInput %>" required>
                        </div>
                    </div>
                    <div class="rowLast">
                        <button type="button" class="buttonWhite clickable" onclick="redirectTo('/dashboard/calendar')">Cancel</button>
                        <button type="submit" class="buttonRed clickable">Done</button>
                    </div>
            </form>

    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>