<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/a-college.css">
    <title>PLM Study Plan Checker</title>
</head>
<body>
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>College</h1>
        <div class="container">
            <div class="topContainer">
                <div class="searchContainer">
                    <img src="/img/search.svg" alt="Searc Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchContent" class="searchContent" placeholder="Search for a college">
                </div>
                <div class="addButton clickable" onclick="openPopup('popup1')">
                    <img src="/img/plus.svg" alt="Plus Icon" class="icon addIcon">
                    <h5>New College</h5>
                </div>
            </div>
            <div class="bottomContainer">
                <% for(let college of colleges) { %>
                    <% const degree = degrees.find(degree => degree._id.toString() === college._id.toString()); %>
                    <% const degreeCount = degree ? degree.count : 0; %>
                    <% const faculty = faculties.find(faculty => faculty._id.toString() === college._id.toString()); %>
                    <% const facultyCount = faculty ? faculty.count : 0; %>
                    <div class="wideDiv clickable" onclick="submitData('<%= college.abbreviation %>', '/dashboard/college/view')">
                        <h2><%= college.name %></h2>
                        <p><%= college.abbreviation %> | <%= degreeCount %> Degree Program<%= degreeCount != 1 ? 's': ''%> | <%= facultyCount %> Faculty Member<%= facultyCount != 1 ? 's': ''%></p>
                        <p> X Students</p>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="overlay" id="overlayDiv"></div>

        <% var viewCollege = colleges.find(obj => obj.abbreviation === data) %>
        <% const degree = degrees.find(degree => degree._id.toString() === viewCollege._id.toString()); %>
        <% const degreeCount = degree ? degree.count : 0; %>
        <% const faculty = faculties.find(faculty => faculty._id.toString() === viewCollege._id.toString()); %>
        <% const facultyCount = faculty ? faculty.count : 0; %>
        <div class="popupLarge" id="popup2">
            <h1><%= viewCollege.name %></h1>

            <div>
                <p><%= viewCollege.abbreviation %></p>
                <p>Degree Programs: <%= degreeCount %></p>
                <p>Faculty Members: <%= facultyCount %></p>
                <p>Students: -insert students</p>
            </div>

            <div class="row3">
                <button class="buttonWhite clickable" onclick="openPopup('popup3')">
                    <img src="/img/edit.svg" alt="Edit Icon" class="buttonIcon">
                    Edit
                </button>
                <form action="/dashboard/college/delete" method="post">
                    <input type="hidden" name="abbreviation" value="<%= viewCollege.abbreviation %>">
                    <button type="submit" class="buttonWhite clickable">
                        <img src="/img/delete.svg" alt="Delete Icon" class="buttonIcon">
                        Delete
                    </button>
                </form>
                <button class="buttonRed clickable" onclick="redirectTo('/dashboard/college')">
                    <img src="/img/back.svg" alt="Back Icon" class="buttonIcon">
                    Back
                </button>
            </div>
        </div>

        <div class="popupLarge hidden" id="popup3">
            <h1>Edit College</h1>

            <form action="/dashboard/college/edit" method="post">
                <div class="row1">
                    <div class="formTextContainer item1">
                        <p>College Name</p>
                        <input type="text" name="name" class="formTextContent" value="<%= viewCollege.name %>" required>
                    </div>
                    <div class="formTextContainer item2">
                        <p>Abbrevation</p>
                        <input type="text" name="abbreviation" class="formTextContent" value="<%= viewCollege.abbreviation %>" required>
                    </div>
                </div>

                <input type="hidden" name="oldAbbreviation" value="<%= viewCollege.abbreviation %>">
                
                <div class="row2">
                    <button type="button" class="buttonWhite clickable" onclick="closePopup('popup3', false)">Cancel</button>
                    <button type="submit" class="buttonRed clickable">Done</button>
                </div>
            </form>
        </div>
    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>