<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/a-degree.css">
    <title>PLM Study Plan Checker</title>
</head>
<body onload="search('searchDegree', '.bottomContainer .wideDiv h2', 1)">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Degree</h1>
        <div class="container">
            <div class="topContainer">
                <div class="searchContainer item1">
                    <img src="/img/search.svg" alt="Searc Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchDegree" class="searchContent" placeholder="Search for a degree">
                </div>
                <div class="filterCollegeContainer item2">
                    <h5>College:</h5>
                    <div class="resultsContainer">
                        <input type="text" onfocusout="focusOutClose('filterColleges', false)" onfocus="openPopup('filterColleges', true)" class="formSelectContent" id="filterCollege" style="z-index: 2;" value="<% if (data) {%> <%= data %> <% } else { %> <%= 'All' %> <% } %>" readonly required>
                        <div class="results hidden" id="filterColleges" style="z-index: 1;">
                            <div class="scrollable">
                                <p class="option" onclick="redirectTo('/dashboard/degree')">All</p> 
                                <% for (let college of colleges) { %>
                                    <p class="option" onclick="submitData('<%= college.abbreviation %>', '/dashboard/degree')" title="<%= college.name %>"><%= college.abbreviation %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addButton clickable item3" onclick="openPopup('popup1')">
                    <img src="/img/plus.svg" alt="Plus Icon" class="icon addIcon">
                    <h5>New Degree</h5>
                </div>
            </div>
            <div class="bottomContainer">
                <% for(let degree of degrees) { %>
                <% const faculty = faculties.find(faculty => faculty._id.toString() === degree._id.toString()); %>
                <% const facultyCount = faculty ? faculty.count : 0; %>
                <% const studentCount = students.filter(student => student.studentDegree.toString() === degree._id.toString()).length; %>
                <div class="wideDiv clickable" onclick="submitData('<%= degree.abbreviation %>', '/dashboard/degree/view')">
                    <h2><%= degree.name %></h2>
                    <p><%= degree.abbreviation %> | <%= degree.college.name %></p>
                    <p><%= facultyCount %> Faculty Member<%= facultyCount != 1 ? 's': ''%> | <%= studentCount %> Student<%= studentCount != 1 ? 's': ''%></p>
                </div>
                <% } %>
            </div>
        </div>

        <div class="overlay hidden" id="overlayDiv"></div>

        <div class="popupLarge hidden" id="popup1">
            <h1>Create a Degree</h1>
            <form action="/dashboard/degree/add" method="post">
                    <div class="formItems">
                        <div class="row1">
                            <div class="formTextContainer item1">
                                <p>Degree Program Name</p>
                                <input type="text" name="name" id="name" class="formTextContent" required>
                            </div>
                            <div class="formTextContainer item2">
                                <p>Abbrevation</p>
                                <input type="text" name="abbreviation" id="abbreviation" class="formTextContent" required>
                            </div>
                        </div>
                        <div class="formTextContainer item3">
                            <p>College</p>
                            <div>
                                <input type="text" onfocusout="focusOutClose('collegeResults', false)" onfocus="openPopup('collegeResults')"  class="formSelectContent" name="college" id="college" readonly required>
                                <div class="results hidden" id="collegeResults">
                                    <div class="scrollable">
                                        <% for(let college of colleges) { %>
                                            <p class="option" onclick="setInputValue('college', '<%= college.abbreviation %> - <%= college.name %>')"><%= college.abbreviation %> - <%= college.name %></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buttonRow">
                        <button type="button" class="buttonWhite clickable" onclick="closePopup('popup1')">Cancel</button>
                        <button type="submit" class="buttonRed clickable">Done</button>
                    </div>
            </form>
        </div>

    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>