<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/f-checklist.css">
    <title>PLM Study Plan Checker</title>
</head>
<body onload="search('searchStudent', '.wideDiv .rightPerson h3', 2)">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Subject Checklist</h1>
        <div class="topContainer">
            <div class="searchContainer">
                <img src="/img/search.svg" alt="Search Icon" class="icon searchIcon">
                <input type="text" name="searchContent" id="searchStudent" class="searchContent" placeholder="Search for a student">
            </div>
        </div>
        <% if (checklists.length > 0) {%>
        <h2>Pending Approval</h2>
        <div class="peopleContainer" id="peopleContainer">
        <% for (let checklist of checklists) {%>
            <div class="person clickable" onclick="submitData(<%= checklist.student.username %>, '/dashboard/checklist/view')">
                <div class="profilePicWide" data-initials-view-wide='<%= checklist.student.firstName.substring(0,1) + checklist.student.lastName.substring(0,1) %>'></div>
                <div class="rightPerson">
                    <h3><%= checklist.student.firstName %> <%= checklist.student.middleInitial ? checklist.student.middleInitial + '. ' : '' %><%= checklist.student.lastName %><%= checklist.student.suffix ? ', ' + checklist.student.suffix : '' %></h3>
                    <p><%= checklist.student.username %></p>
                    <p><%= checklist.student.studentType %> Student</p>
                </div>
            </div>
        <% }} %>
        </div>
        <h2>All Students</h2>
        <div class="peopleContainer" id="peopleContainer">
        <% for (let checklist of checklistsAll) {%>
            <div class="person clickable" onclick="submitData(<%= checklist.student.username %>, '/dashboard/checklist/view')">
                <div class="profilePicWide" data-initials-view-wide='<%= checklist.student.firstName.substring(0,1) + checklist.student.lastName.substring(0,1) %>'></div>
                <div class="rightPerson">
                    <h3><%= checklist.student.firstName %> <%= checklist.student.middleInitial ? checklist.student.middleInitial + '. ' : '' %><%= checklist.student.lastName %><%= checklist.student.suffix ? ', ' + checklist.student.suffix : '' %></h3>
                    <p><%= checklist.student.username %></p>
                    <p><%= checklist.student.studentType %> Student</p>
                </div>
            </div>
        <% } %>
        </div>
    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>