<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/f-checklist-view.css">
    <title>PLM Study Plan Checker</title>
    <script>
        var checklist = <%- JSON.stringify(checklist) %>
        var subjectsLibrary = <%- JSON.stringify(subjects) %>
    </script>
</head>
<body onload="generateChecklist()">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Subject Checklist</h1>
        <div class="mainContainer">
            <div class="topItems">
                <div class="searchContainer">
                    <img src="/img/search.svg" alt="Search Icon" class="icon searchIcon">
                    <input type="text" name="searchContent" id="searchStudent" class="searchContent" placeholder="Search for a student">
                </div>
                <div class="buttons">
                    <button type="button" class="smallButton clickable" onclick="generatePDF()">
                        <img src="/img/print.svg" alt="Print Icon" class="icon">
                        <h5>Print</h5>
                    </button>
                </div>
            </div>
            <div class="wideDiv studentInfo">
                <div class="leftInfo">
                    <h2><%= checklist.student.lastName %>, <%= checklist.student.firstName %> <%= checklist.student.middleInitial ? checklist.student.middleInitial + '.' : '' %></h2>
                    <p><%= checklist.student.username %> | <%= checklist.student.studentType %> Student</p>
                    <p><%= student.studentDegree.name %> | <%= student.studentCurriculum.year %> Curriculum </p>
                </div>
                <div class="rightInfo2">
                    <% var personInitials = checklist.student.firstName.substring(0,1) + checklist.student.lastName.substring(0,1); %>
                    <div class="profilePicWide" data-initials-view-wide='<%= personInitials %>'></div>
                </div>
            </div>

            <div class="approvalDiv">
                <% let hasPendingSubjects = checklist.years.some(year => year.semesters.some(semester => semester.subjects.some(subject => subject.pending))); %>
                <h2 class="topApprove">
                    Pending Approval
                    <!-- Add Approve All and Reject All buttons -->
                    <% if (hasPendingSubjects) { %>
                        <form action="/dashboard/checklist/view/update" method="POST">
                            <input type="hidden" name="studentId" value="<%= checklist.student._id %>">
                            <button class="buttonApprove" type="submit" name="status" value="approve_all">Approve All</button>
                            <button class="buttonReject" type="submit" name="status" value="reject_all">Reject All</button>
                        </form>
                    <% } %>
                </h2>
                <div class="subjectContainer">
                <% hasPendingSubjects = false; %>
                <% for (let year of checklist.years) { %>
                    <% for (let semester of year.semesters) { %>
                        <% for (let subject of semester.subjects) { %>
                            <% if (subject.pending) { %>
                                <% hasPendingSubjects = true; %>
                                    <div class="subject">
                                        <div class="subjectInfo">
                                            <h3><%= subject.subject.name %></h3>
                                            <p>Grade: <%= subject.grade %> | <%= subject.subject.units %> Unit<%= subject.subject.units > 1 ? 's' : '' %></p>
                                            <p>Taken at <%= subject.schoolAttended %> on <%= subject.yearTaken %>: <%= subject.semesterTaken %></p>
                                        </div>                                    
                                        <form action="/dashboard/checklist/view/update" method="POST">
                                            <input type="hidden" name="studentId" value="<%= checklist.student._id %>">
                                            <input type="hidden" name="subjectId" value="<%= subject.subject._id %>">
                                            <button class="buttonApproveSmall" type="submit" name="status" value="approved"><img src="/img/approve.svg" alt="Approve Icon" class="buttonIcon"></button>
                                            <button class="buttonRejectSmall" type="submit" name="status" value="rejected"><img src="/img/reject.svg" alt="Reject Icon" class="buttonIcon"></button>
                                        </form>
                                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
                </div>
            </div>

            <div class="studentInfo">
                <h2 class="leftInfo">Subjects</h2>
                <div class="rightInfo">
                    <p><div class="circle approved"></div>Approved</p>
                    <p><div class="circle pending"></div>Pending Approval</p>
                    <p><div class="circle rejected"></div>Not yet taken</p>
                </div>
            </div>

            <div class="checklist">
                
            </div>
        </div>
  </main>

        
      
    
    <script src="/js/f-checklist.js"></script>
    <script src="/js/functionLibrary.js"></script>
    <script src="/js/s-checklist.js"></script>
    <script src="/js/a-checklist.js"></script>
</body>
</html>